<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <title>Video home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.dev.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var socket;
      $(document).ready(function() {
          socket = io.connect('http://' + document.domain + ':' + location.port + '/events');          
          socket.on('status', function(data) {
              $('#status').html(data.msg);              
          });          
      });
  </script>

  </head>

  <body>
    <h1><img src="{{ url_for('static', filename = 'logo.png')}}"/> JIJ Video Services</h1>
    <h2>Available Videos</h2>        
    <form action="/video/compose" method="post">     
      <div id="status">

      </div> 
      <table>
        <tr>
          <td>Name</td>          
          <td>Size</td>          
          <td>Creation Time</td>       
          <td></td>   
        </tr>
      {% for video in videos %}
        <tr>
          <td> <a href="/video/download/{{video.id}}">{{ video.composite_url }}</a></td>          
          <td> {{ video.youtube_url }} </td>          
          <td> {{ video.jij_url }} </td>          
          <td> <a href="/video/delete/{{video.id}}">Delete</a></td>          
        </tr>
      {% endfor %}
      </table>      
    </form>
    <p>To request a new video be created click <a href="/video/request">here</a></p>
  </body>
</html>