<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <title>Video home</title>
  </head>

  <body>
    <h1><img height="60px" src="{{ url_for('static', filename = 'logo.png')}}"/> JIJ Video Services</h1>
    <p>To create a composite video enter the url of the candidate, e.g. https://jobsinjapan.hiringplatformau.com/p/8CjOM29RPwZa/167543-jamaica-segundo</p>    
    <p>After a minute or so the composite video will be created and downloaded</p>
    <form action="/video/compose" method="post">
      <input type="text" id="candidate_url" name="candidate_url" style="width:65%"></input>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>