<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <title>Video home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <h1><img height="60px" src="{{ url_for('static', filename = 'logo.png')}}"/> JIJ Video Services</h1>
    <h2>Available Videos</h2>        
    <form action="/video/compose" method="post">      
      <table>
        <tr>
          <td>Name</td>          
          <td>Size</td>          
          <td>Creation Time</td>          
        </tr>
      {% for video in videos %}
        <tr>
          <td> <a href="/video/download/{{video.name}}">{{ video.name }}</a></td>          
          <td> {{ video.size }} </td>          
          <td> {{ video.timestr() }} </td>          
        </tr>
      {% endfor %}
      </table>      
    </form>
    <p>To request a new video be created click <a href="/video/request">here</a></p>
  </body>
</html>