{% extends "base.html" %}
{% block title %} Video Services {% endblock %}
{% block head %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var socket;      

      $(document).ready(function() {          
          socket = io.connect('http://' + document.domain + ':' + location.port + '/events');                    
          socket.on('info', function(data) {
              $("#" + data.id).html(data.msg);                           
          });
          socket.on('status', function(data) {
              $('#status').html(data.msg);              
          });
          socket.on('complete', function(data) {
              location.reload();            
          });          
          socket.on('update', function(data) {
              location.reload();            
          });     
      });
  </script>

{% endblock %}

{% block content %}
    
    <p>To create a composite video enter the url of the candidate</p>        
    <form action="/video/compose" method="post">
      <div style="width:75%">      
          <input type="text" id="candidate_url" name="candidate_url" style="width:65%"></input>
          <input type="submit" value="Submit">        
      </div>            
    </form>

    <h2>Available Videos</h2>        
    <form action="/video/compose" method="post">           
      <table>
        <tr>
          <th></th>          
          <th></th>          
          <th></th>          
          <th></th>       
          <th></th>   
          <th></th>   
          <th></th>
        </tr>
      {% for video in videos %}
        <tr {% if video.error %}class="error"{% endif %}>
          <td>            
          {% if video.error %}    
            <img style="height:16px" src="{{ url_for('static', filename = 'boom.png') }}"/> 
          {% elif not video.uploaded %} 
            <img style="height:16px" src="{{ url_for('static', filename = 'spinner.gif')}}"/> 
          {% endif %}
          </td>
          <td id="name{{video.id}}"> {{ video.name }} </td>          
          <td> <a href="{{ video.youtube_url }}">{{ video.youtube_url }}</a></td>          
          <td> 
              <a href="{{ video.jij_url }}"><img alt="Profile" title="Profile" src="{{ url_for('static', filename = 'person.png')}}"/> </a> 
          </td>          
          <td> 
            {% if video.created %} 
              <a href="{{ url_for('static', filename = 'video/' + video.composite_name) }}"><img alt="Download" title="Download" src="{{ url_for('static', filename = 'down.png')}}"/> </a> 
            {% endif %}
          </td>          
          <td>                           
               <a href="/video/delete/{{video.id}}"><img alt="Remove" title="Remove" src="{{ url_for('static', filename = 'delete.png')}}"/> </a>
          </td>
          <td id="{{video.id}}">{{ video.status or '' }}</td>
        </tr>
      {% endfor %}
      </table>      
    </form>
  
    <div id="status" class="background-color:silver"></div>

    
{% endblock %}