{% extends "base.html" %}
{% block title %} Video Services {% endblock %}

{% block content %}
    <p>To create a composite video enter the url of the candidate</p>        
    <form action="/video/compose" method="post">
      <div style="width:90%">
        <label for="candidate_url">URL : </label>
          <input type="text" id="candidate_url" name="candidate_url" style="width:65%"></input>
          <input type="submit" value="Submit">        
      </div>            
    </form>
{% endblock %}