
table {
    border-top: black solid 1px;
}

th, td {
    border-bottom: black solid 1px;
    padding: 5px;
}

tr.error td {
    color: white;
    background-color: darkred;
}

th[data-sort]{
    cursor:pointer;
}

form {
    display: grid;
    grid-template-columns: auto;

    width: 30%;
    gap: 0.5em;
}
  
input {    
    grid-column: 1;    
}


@media (max-width: 992px) {
    .navbar-toggle {
        display: flex;
        align-items:center;
    }
}